<% include ../partials/header %>
<div class="container">
    <header id="header">
	</header>
</div>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h3 style="text-align: center">Edit Post: <%= post.name %></h3>
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="post[name]" value="<%= post.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="file" name="image" value="<%= post.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="post[description]" value="<%= post.description %>">
                </div>
                <div class="form-group">
                    <button class="button">Submit!</button>
                </div>
            </form>
            <a href="/posts" class="button small">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>